<!DOCTYPE html>
<html lang="en">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.27/angular.min.js"></script>
    <script>

        var app = angular.module("app", []);
        app.controller("MainController", MainController);

        function MainController($scope, $http) {

            // IMPORTANT: REPLACE WITH YOUR OWN FIREBASE URL
            var url = 'https://blinding-fire-7673.firebaseio.com/';

            var vm = this;
            vm.postData = { yourData: "Enter value here." };
            vm.data = [];
            vm.post = post;
            vm.get = get;
            vm.put = put;
            vm.del = del;

            function post() {
                $http.post(url + '.json', vm.postData).then(function (response) {
                    vm.response = response;
                    var responseKey = response.data.name;
                    vm.data.push({key: responseKey});
                });
            }

            function get(item) {
                $http.get(url + '/' + item.key + '.json').then(function (response) {
                    item.value = response.data.yourData;
                });
            }

            function put(item) {
                $http.put(url + '/' + item.key + '.json', { 'yourData' : item.value });

            }

            function del(item) {
                $http.delete(url + '/' + item.key + '.json', { 'yourData' : item.value });
            }
        }

    </script>
    <style>
        body {
            font-size: 24px;
            font-family: Arial, sans-serif;
            background-color: #434343;
            color: deepskyblue;
        }
        button {
            background-color: deepskyblue;
            padding: 9px;
        }
        .delbutton {
            background-color: crimson;
        }
    </style>
</head>
<body ng-app="app">

    <div ng-controller="MainController as vm">
        <p>
            Type something to POST to your Firebase here:
        </p>
        <input ng-model="vm.postData.yourData" size="40"/>
        <button ng-click="vm.post()">Send POST</button>
        <p>
            You just POSTed to key:
            {{ vm.response.data.name }}
        </p>

        <p>Retrieve data you POSTed earlier with GET:</p>
        <div ng-repeat="item in vm.data">
            <button ng-bind="'Click to GET data from Firebase with key ' + item.key"
                    ng-click="vm.get(item); item.clicked = true"></button>
            <p ng-show="item.clicked">
                The data you POSTed earlier that is associated with this key is:
                <input ng-model="item.value"><button ng-click="vm.put(item);">Update</button>
                <button class="delbutton" ng-click="vm.del(item);">DELETE</button>
            </p>
        </div>
    </div>

</body>
</html>
